{% extends 'base/index.html' %}

{% load static %}

{% block content %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for order in orders %}
                    <tr id="{{ order.id }}" name='order-items'>
                        <td class="align-middle"><img src="{% if order.product.images %}{{ order.product.images.first.image.url }}{% endif %}" alt="" style="width: 50px; left: -15% !important;"> {{ order.product.name }}</td>
                        <td class="align-middle"><span id="price-{{ order.id }}">{{ order.product.price }}</span> AZN</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button id="minus-button-{{ order.id }}" onclick="calcMinusTotal('{{ order.id }}')" class="btn btn-sm btn-primary btn-minus" >
                                    <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" id="qty-{{ order.id }}" class="form-control form-control-sm bg-secondary text-center" value="{{ order.product_qty }}">
                                <div class="input-group-btn">
                                    <button id="plus-button-{{ order.id }}" onclick="calcPlusTotal('{{ order.id }}')" class="btn btn-sm btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle"><span name="order-total" id="total-{{ order.id }}">{{ order.get_total_price }}</span> AZN</td>
                        <td class="align-middle"><button onclick="removeRow('#{{ order.id }}', '{{ order.id }}')" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium"><span id="sub-total">0</span> AZN</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium"><span id='shipping'>0</span> AZN</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold"><span id="final-total">0</span> AZN</h5>
                    </div>
                    <button id="checkout-btn" onclick="createMainOrder()" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->

{% endblock %}

{% block js %}
<script>
let order_delete_url = "{% url 'order-delete' 1 %}"
let main_order_create_url = "{% url 'main-order-create' %}"
window.onload = function() {
    calcTotal();
    manageCheckoutButton();
}
</script>
<script src="{% static 'apps/order/basket.js' %}"></script>
{% endblock %}