<!DOCTYPE html>
{% load static %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Organic</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    {% block css %}
    {% endblock %}
</head>  

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li><a href="{./blog.html}">Blog</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li>Free Shipping for all Order of $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                {% if social.facebook %}
                                <a href="{{social.facebook}}" target="blank"><i class="fab fa-facebook"></i></a>
                                {% endif %}
                                {% if social.twitter %}
                                <a href="{{social.twitter}}" target="blank"><i class="fab fa-twitter"></i></a>
                                {% endif %}
                                {% if social.linkedin %}
                                <a href="{{social.linkedin}}" target="blank"><i class="fab fa-linkedin"></i></a>
                                {% endif %}
                            </div>
                            <div class="header__top__right__language">
                                <img src="{% static 'img/language.png' %}" alt="">
                                <div>{% translate 'Language' %}</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    {% for lang in languages %}
                                    <li><a href="/{{ lang.code }}/">{{ lang.name_local }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                {% if request.user.is_authenticated %}
                                <li><a href="#">{{request.user.get_full_name}}</a>
                                    <!-- <ul class="header__menu__dropdown"></ul> -->
                                    <a href="{% url 'logout' %}" class="dropdown-item">{% translate 'Logout' %}</a> 
                                </li>
                                {% else %}
                                <a href='{% url "login" %}'><i class="fa fa-user"></i>{% translate 'Login' %}</a>
                                <a href='{% url "register" %}'><i class="fa fa-user"></i>{% translate 'Register' %}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="{% if request.resolver_match.url_name == 'index' %} active{% endif %}"><a href="{% url 'index' %}">{% translate 'Home' %}</a></li>
                            <li class="{% if '/products' in request.path %} active{% endif %}"><a href="{% url 'products_list' %}">{% translate 'Products' %}</a></li>
                            <li class="{% if '/bloqs' in request.path %} active{% endif %}"><a href="{% url 'bloq' %}">{% translate 'Blog' %}</a></li>
                            <li class="{% if '/contact' in request.path %} active{% endif %}"><a href="{% url 'contact' %}">{% translate 'Contact' %}</a></li>
                        </ul>
                    </nav>
                </div>
                {% if request.user.is_authenticated %}
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="{% url 'wish_list' %}"><i class="fa fa-heart"></i> <span id="wish-list-count">{{wish_list_count}}</span></a></li>
                            <li><a href="{% url 'basket' %}"><i class="fa fa-shopping-bag"></i> <span>{{basket_order_count}}</span></a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>{% translate 'All departments' %}</span>
                        </div>
                        <ul>
                            {% for category in context_categories %}
                                <li><a href="{% url 'products_by_category' category.slug %}">{{ category.name }}</a></li>   
                            {% endfor %}  
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="{% url 'search' %}" method="GET">
                                <input type="text" name="q" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">{% translate 'SEARCH' %}</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                
                                <h5>{{ contact.phone }}</h5>
                                
                                <span>{% translate 'support' %} 24/7</span>
                            </div>
                        </div>
                    </div>
                    {% if request.resolver_match.url_name == "index" %}
                    <div class="hero__item set-bg" data-setbg="{% static 'img/hero/banner.jpg' %}">
                        <div class="hero__text">
                            <span>FRUIT FRESH</span>
                            <h2>Vegetable <br />100% Organic</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="#" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    
    <!-- Hero Section End -->
                    

    
    {% block content %}

    

    {% endblock %}


    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        
                        <ul>                
                                <li>{% translate 'Adress' %}: {{ contact.address }}</li>
                                <li>{% translate 'Phone' %}: {{ contact.phone }}</li>
                                <li>{% translate 'E-mail' %}: {{ contact.mail }}</li>                          
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="{% url 'about' %}">{% translate 'About Us' %}</a></li>
                            <li><a href="{% url 'index' %}">{% translate 'Home' %}</a></li>
                            <li><a href="{% url 'products_list' %}">{% translate 'Products' %}</a></li>
                            <li><a href="{% url 'bloq' %}">{% translate 'Blog' %}</a></li>
                            <li><a href="{% url 'contact' %}">{% translate 'Contact' %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            {% if social.facebook %}
                            <a href="{{social.facebook}}" target="blank"><i class="fab fa-facebook"></i></a>
                            {% endif %}
                            {% if social.instagram %}
                            <a href="{{social.instagram}}" target="blank"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                            {% if social.twitter %}
                            <a href="{{social.twitter}}" target="blank"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'apps/product/wishList.js' %}"></script>
    <script>
        let csrftoken_ = '{{ csrf_token }}'
        let add_to_wish_list_url = "{% url 'add-to-wish-list' %}"
        let remove_from_wish_list_url = "{% url 'remove-from-wish-list' %}"
    </script>

{% block js %}

    

{% endblock %}



</body>

</html>